.box_one {
    background-image: linear-gradient(to right, #FF8282 , #FFC94A);
  }
  .box_two {
    background-image: linear-gradient(to right, #6E70C7 , #FF8282);
  }
  .box_three {
    background-image: linear-gradient(to right, #8882FF , #4ADAFF);
  }
