.printContainer {
  /* padding: 100px 280px 0px 280px; */
  padding: 0;
}
.printContainer div{
  font-family: 'Courier New';
  font-weight: 600;
}

.canteenDetails {
  /* display: flex;
  justify-content: center; */

  margin-bottom: 20px;
  width: 60%;
}
.canteenDetails div{width:100%;text-align: center;}
.canteenDetails .printtable table {
  display: flex;
  justify-content: left;
}

.printtable {
  display: flex;
  justify-content: left;
  padding-bottom: 30px;
  border-bottom: 0.5px solid black;
}

.printtable thead tr th{text-align: left; padding-right: 6px;}
.printtable tr td{text-align: left; padding-right: 20px;}

.printtable tr:first-child {
  border: 2px dotted black;
  border-left: none;
  border-right: none;
}

.printBtn {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.liquorHeader {
  padding-top: 120px;
}

.orderDetailsContainer {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.orderValues {
  display: flex;
}

.orderKey {
  width: 85px;
}

.orderValuesCol {
  margin-right: 10px;
}

/* pickList printTable css  */

.pickListTableContainer .table td,
.table th,
.pickListTableContainer tbody th,
.pickListTableContainer tbody td {
  padding: 0px !important;
  vertical-align: middle;
}

.pickListTableContainer .tableWrapper {
  min-height: fit-content;
}

.pickListTableContainer .table > tbody > tr > th:first-child {
  padding-left: 20px !important;
}

.pickListTableContainer tbody tr {
  height: 10px;
}

.pickListTableRowCss td:nth-child(5) {
  text-align: right;
  padding-right: 5% !important;
  width: 20%;
}

.PLTableRowCss td:nth-child(4) {
    text-align: left;
    padding-left: 15px !important;
}
.PLTableRowCss td:nth-child(2) {
  padding-left: 3px;
}
.PLTableRowCss td:nth-child(3) {
  padding-left: 7%;
}
.ProductTableRowCss td:nth-child(2){
  padding-left: 5px !important;
}
.ProductTableRowCss td:nth-child(6){
  padding-left: 2px !important;
}
.ProductTableRowCss td:nth-child(7){
  padding-left: 25px !important;
}
.ProductTableRowCss td:nth-child(3){
  padding-left: 0px;
}
.ProductTableRowCss td:nth-child(4){
  padding-left: 0px;
  padding-right: 35px;
}
.ProductTableRowCss td:nth-child(5){
  padding-left: 0px;
}
.table>tbody>tr>th:first-child {
  padding-left: 20px !important;
}